body {
    background-color: #eaeef3 !important;
}
.menu-header{
    color: #FFF !important;
}
.header-logo{
    flex-direction: row !important;
}

.content{
    width: 100%;
}
.titulo{
    font-size: 2.0rem !important;
}
